:root {
    --primary: #33aabb;
    --secondary: #253745;
    --section: #1e2a36;
    --text: #ecf0f1;
    --required: #ff4d4d;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--section);
    color: var(--text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

main {
    flex: 1;
}

/*HEADER AND NAVIGATION BAR*/
header,
footer {
    background-color: var(--secondary);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    align-items: center;
}

#logo {
    margin-left: 2rem;
}

#menu, #close {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--text);
    cursor: pointer;
}

#menu {
    display: block;
}

#close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--secondary);
    padding: 1rem;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.nav-links.open {
    display: flex;
}

.nav-links a{
    color: var(--text);
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    background-color: var(--primary);
    color: var(--text);
    border-radius: 9px;
    transform: scale(1.02);
}

/*INDEX PAGE*/
main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.hero h2{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.hero p{
    max-width: 90%;
    margin: 0 auto 1rem;
}

.hero img {
    max-width: 80%;
    border-radius: 6px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icon {
    transition: transform 0.3s ease;
    object-fit: contain;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.social-icon:hover {
    transform: scale(1.1);
}

button {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: 1rem;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease;

}

button:hover {
    background-color: var(--primary);
    transform: scale(1.1);
}

/*ABOUT PAGE*/
#intro-text{
    margin-bottom: 2rem;
}

.about-container {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-title {
    color: var(--primary);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.about-image img {
    width: 100%;
    max-width: 350px;
}

.about-card {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    border-left: 4px solid var(--primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    margin-right: 0.2rem;
    text-align: left;
}

.about-card h2 {
    color: var(--text);
    font-size: 1.25rem;
    margin-top: 0;
}

.info-card ul {
    padding-left: 1.2rem;
    margin: 0.5rem 0 0 0;
}

/*PROJECTS PAGE*/
.projects-container {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-title {
    text-align: center;
    color: var(--primary);
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.project-card {
    background-color: var(--secondary);
    padding: 1.2rem;
    border-radius: 12px;
    border-left: 4px solid var(--primary);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

.project-card h2 {
    color: var(--text);
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    scrollbar-width: auto;
    scrollbar-color: var(--primary) transparent;
    cursor: pointer;
    
}

.slide {
    flex: 0 0 300px;
    scroll-snap-align: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background: var(--secondary);
}

.slide img {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: contain;
    background-color: #000;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.1);
}

.caption {
    background-color: rgba(37, 55, 69, 0.9);
    color: var(--text);
    padding: 20px;
    font-size: 0.85rem;
    text-align: center;
}

.indicator {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--text);
    font-weight: bold;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-content {
    max-width: 90%;
    max-height: 80%;
    border: 3px solid var(--primary);
    border-radius: 10px;
    object-fit: contain;
}

#lightbox-caption {
    color: var(--text);
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: var(--text);
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
}

/*CONTACT PAGE*/
.contact-section {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
}

.contact-section h1 {
    margin-bottom: 1.5rem;
    color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 1rem;
}

.required {
    color: var(--required);
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    background-color: var(--section);
    color: var(--text);
    border-radius: 5px;
    padding: 12px;
    font-family: inherit;
}

input{
    height: 44px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

form button {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

form button:hover {
    transform: scale(1.02);
}

.socials-contact {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/*SUBMITTED PAGE*/
.submission-count {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: var(--section);
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid rgba(51, 170, 187, 0.2);
}

.return-button {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.return-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.submitted-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*FOOTER*/
footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin: 0 0 0 0;
}