body {
    display: grid;
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    background-color: #3d515c;
    color: white;
    padding: 0.5rem 0rem 0rem;
}

nav {

    margin: 0;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #000e36;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:large;
}

main {
    grid-area: main;
    background-color: #74b0ff;
    padding: 1rem;


}

aside {
    grid-area: aside;
    background-color: #fff;
    padding: 1rem;
    
}

footer {
    grid-area: footer;
    background-color: #2a3849;
    color: white;
    padding: 1rem 0 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        grid-template-areas: "header header" "main aside" "footer footer";
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr auto;
    }
}