body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #253745;
    color: #fff;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    margin: 0;
}

/* Nav*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 0;
    padding: 0.75rem 0;
    background-color: #003366;
}

nav li {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #33AABB;
    border-radius: 5px;
    transform: scale(1.02);
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

h1.my-name {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

/* Cards */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

.card h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #003366;
    color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card img.profile {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.profile-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.profile-flex img.profile {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 2rem;
}

.profile-flex p.bio {
    flex: 1;
    min-width: 250px;
    margin: 2rem;
    text-align: justify;
    overflow-wrap: break-word;
}

.card h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-align: center;
    color: #00695c;
}

.flag img {
    display: block;
    margin: 1.5rem auto;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.card figcaption {
    font-size: 0.85rem;
    color: #555;
    margin-top: 0.5rem;
    text-align: center;
}

.card p.country {
    max-width: 700px;
    margin: 1rem auto;
    text-align: justify;
    text-indent: 2rem;
    padding: 0 1rem;
    overflow-wrap: break-word;

}

.card ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.card ul li {
    margin: 0.5rem 0;
}

/* Footer */
footer {
    background-color: #253745;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}